
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Manager Dashboard</title>
    <script src="../script/script.js" defer></script>
</head>
<body class="bg-gray-900 text-gray-100 overflow-x-clip">
    
    <header class="p-4 flex justify-between items-center">
        <div class="flex items-center gap-2">
            <button id="menuButton" class="text-gray-100 text-3xl lg:hidden hover:text-gray-400" aria-label="Open Menu">
                <i class="bx bx-menu"></i>
            </button>
            <div class="flex items-center gap-2 text-teal-400 cursor-pointer">
                <i class="bx bx-infinite text-3xl"></i>
                <span class="text-xl font-semibold">Admin dashboard</span>
            </div>
        </div>

        <div class="flex items-center gap-2">
            <span class="text-gray-300 font-medium">Bienvenue</span>
            <img src="" alt="User Avatar" class="w-10 h-10 rounded-full border border-gray-600" />
        </div>
    </header>
</body>
</html>
